<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>快聊</title>
    <link rel="stylesheet" href="/public/css/weui.min.css"/>
    <link rel="stylesheet" href="/public/css/chat.css"/>
</head>
<body>
<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p id="loadingtip" class="weui_toast_content">正在匹配中...</p>
    </div>
</div>
<div class="prepare" style="display:block;">
  <div class="hd">
      <h1 class="page_title">预备</h1>
  </div>
  <!--<div class="weui_cells weui_cells_form">
      <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">昵称</label></div>
          <div class="weui_cell_bd weui_cell_primary">
              <input id="nickname" class="weui_input" type="text" placeholder="请输入昵称"/>
          </div>
      </div>
  </div>-->
  <div class="weui_cells weui_cells_radio">
      <label class="weui_cell weui_check_label" for="x11">
          <div class="weui_cell_bd weui_cell_primary">
              <p>男孩</p>
          </div>
          <div class="weui_cell_ft">
              <input type="radio" class="weui_check" name="sex" value="1" id="x11">
              <span class="weui_icon_checked"></span>
          </div>
      </label>
      <label class="weui_cell weui_check_label" for="x12">
          <div class="weui_cell_bd weui_cell_primary">
              <p>女孩</p>
          </div>
          <div class="weui_cell_ft">
              <input type="radio" name="sex" class="weui_check" value="0" id="x12" checked="checked">
              <span class="weui_icon_checked"></span>
          </div>
      </label>
  </div>
  <div class="spacing">
      <a href="javascript:;" id="startChat" class="weui_btn weui_btn_primary">开聊</a>
  </div>
</div>

<div class="chatpage" style="display:none;">
  <div class="chatarea_top"></div>
  <div class="chatarea_bottom">
    <textarea id="msg"></textarea>
    <div id="speach" class="speach">
      <a href="javascript:;">语音</a>
    </div>
    <div id="send" class="send">
      <a href="javascript:;">发送</a>
    </div>
  </div>
</div>

<script src="/public/js/socket.io.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script>
  var socket = io();

  $("#startChat").click(function(){
    var name = $("#nickname").val();
    var sex = $("input[name='sex']:checked").val();
    socket.emit('intro', {name:name,sex:sex});
    $('#loadingToast').show();
    $("#loadingtip").text("匹配中...");
  });

  $('#send').click(function(){
      var msg = $('#msg').val();
      if(msg.length>0){
        socket.emit('chat', encodeURIComponent(msg));
        $('#msg').val('');
        $('#msg').focus();
      }
  });

  $("#speach").on("touchstart",function(){
        if(typeof mc != "undefined"){
            mc.startRecord();
        }
  });

  $("#speach").on("touchend",function(){
        if(typeof mc != "undefined"){
            var filename = mc.stopRecord(sessionStorage.socketid);
        }   
  });

  function play(path){
        if(typeof mc != "undefined"){
            //path = "http://121.42.186.141:3000/public/upload/"+path+".spx"
            //path = "http://192.168.199.122:3000/public/upload/"+path+".spx"
            mc.startPlay(path);
        }
  }
  
  function appendMsg(obj){
      console.log(obj);
      var html = obj.you ? "<div class='msg_right'>":"<div class='msg_left'>";
      if(obj.sex==1){
        html+="<img src='/public/images/boy.png'/>";
      }
      else{
        html+="<img src='/public/images/girl.png'/>";
      }
      html+="<span>";
      if(obj.type==1){
        html+=decodeURIComponent(obj.msg).replace("<","&#60;").replace(">","&#62;");
      }
      else if(obj.type==2){
        html += "<span onclick='play("+obj.path+")'>点击播放</span>";
      }
      html+="</span></div>";
      $(".chatarea_top").append(html);
      var chatArea = $(".chatarea_top")[0];
      chatArea.scrollTop = chatArea.scrollHeight;
  }
  
  socket.on('chat', function(obj){
      appendMsg(obj);
  });

  socket.on('drop', function(obj){
      $(".prepare").show();
      $(".chatpage").hide();
      $('#loadingToast').show();
      $("#loadingtip").text("对方已掉线，重连中...");
  });

  socket.on('connected', function(obj){
      sessionStorage.socketid = obj.id;
  });

  socket.on('waiting', function(msg){
    if(msg==1){
      console.log('waiting');
    }
    else{
      $("#loadingtip").text("匹配成功");
      //清空聊天
      $(".chatarea_top").html("");
      setTimeout(function(){
        $(".prepare").hide();
        $(".chatpage").show();
        $('#loadingToast').hide();
      },1000);
    }
  });
</script>
</body>
</html>